{% extends 'base.html.twig' %}

{% block title %}Popular Movies{% endblock %}

{% block body %}

	<!-- Page section -->
	<section class="page-section review-page spad">
		<div class="container">
			<div class="row">
        {% for movie in movies %}
				<div class="col-md-6">
					<div class="review-item">
						<div class="review-cover set-bg" style="background-image: url('https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}'); height: 400px; background-size: cover; background-position: center;">
							<div class="score yellow">{{movie.vote_average|round(1)}}</div>

							<form method="post" action="{{path("api_new_movie")}}">
                <input type="hidden" name="title" value="{{ movie.title }}">
                <input type="hidden" name="poster_path" value="{{ movie.poster_path }}">
                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                <div><button type="submit" class="btn btn-success"> Add to favs </button></div>
              </form>
							
						</div>
						<div class="review-text">
							<h4>{{ movie.title }}</h4>
						</div>
					</div>
				</div>
        {% endfor %}
      </div>
      </div>
	</section>
	<!-- Page section end -->

{% endblock %}